services:
  saml-idp:
    build: .
    image: ghcr.io/alshawwaf/saml_idp_simulator:latest
    container_name: saml-idp-simulator
    environment:
      - IDP_PORT=5000
      - IDP_HOST=0.0.0.0
      - ENABLE_SSL=false
      - FLASK_DEBUG=0
      - SECRET_KEY=${SECRET_KEY:-Super-very-secret-key-cpdemo-2026}
      - ADMIN_USERNAME=${ADMIN_USERNAME:-admin@cpdemo.ca}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD:-Cpwins!1@2026}
      - CERT_PATH=/app/app/certs/idp-cert.pem
      - KEY_PATH=/app/app/certs/idp-key.pem
    volumes:
      - saml_idp_data:/app/data
      - saml_idp_certs:/app/app/certs
    networks:
      - dokploy-network
    restart: unless-stopped

volumes:
  saml_idp_data:
  saml_idp_certs:

networks:
  dokploy-network:
    external: true
