services:
  saml-idp:
    build: .
    container_name: saml-idp-simulator
    ports:
      - "9001:5000"
    environment:
      - IDP_PORT=5000
      - IDP_HOST=0.0.0.0
      - ENABLE_SSL=false
      - FLASK_DEBUG=true
      - SECRET_KEY=${SECRET_KEY:-change-me-in-production}
      - ADMIN_USERNAME=${ADMIN_USERNAME:-admin@cpdemo.ca}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD:-Cpwins!1@2026}
      - CERT_PATH=/app/certs/idp-cert.pem
      - KEY_PATH=/app/certs/idp-key.pem
    volumes:
      - ./app/certs:/app/certs
      - ./instance:/app/instance
    restart: unless-stopped
